:root {
    --font: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen-Sans,
                 Ubuntu, Cantarell, 'Helvetica Neue', sans-serif;;
    --title-font-size: 60px;
    --title-font-weight: bold;
    --title-opacity: 0.8;
    --subtitle-font-size: 30px;
    --subtitle-opacity: 0.5;
    --transition-secs: 0.7s;
}

body {
    margin:50px 300px 50px 300px;
}

.head-container, .add-task-container {
    /* border: 1px solid rgba(0, 0, 0, 0.8); */
    padding:0 10px 0 10px;
    min-width: 600px;
}

.head-container {
    display: grid;
    grid-template-rows: 50% 50%;
} 

.date-container {
    display: flex;
    flex-direction: column;

}

.date-day {
    font-family: var(--font);
    font-size: var(--title-font-size);
    font-weight: var(--title-font-weight);
    opacity: var(--title-opacity);
    margin-bottom: 0;
}

.date-month {
    margin-top: 0;
    font-family: var(--font);
    font-weight: var(--title-font-weight);
    font-size: var(--subtitle-font-size);
    opacity: var(--subtitle-opacity);
}

.month-remaining-tasks-row{
    display: flex;
    flex-direction: row;
    /* gap: 200px; */
    justify-content: space-between;
    
}

.remaining-tasks {
    font-family: var(--font);
    opacity: var(--title-opacity);
    
    
}

.add-task-container {
    margin-top: 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    /* width: 70%; */
}


.add-task-input {
    width: 40%;
    height: 20px;
    margin: 0;
    padding-left: 10px;
    margin-right: 10px;
    /* min-width: 300px; */
}

.add-task-date, .add-task-importance {
    margin-right: 10px;
    min-width: 100px;
}

.add-task-input:focus, .add-task-importance  {
    outline: none;
}

.todoList-container {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    min-width: 600px;
}

.todoItem {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    
    border: 1px solid rgba(0, 0, 0, 0.8);
    border-left: 5px solid black;
    padding:0 10px 0 10px;
    min-width: 400px;   
    transition: var(--transition-secs);
}

.todoItem:hover {
  box-shadow: 0 0 0 1px black;
}

.todoItem-name {
    font-family: var(--font);
    width: 80%;
    text-decoration-line: none;
}

i {
    margin: 15px 20px 0 0;
    opacity: var(--title-opacity);
    transition: var(--transition-secs);
}

i:hover {
    opacity: var(--subtitle-opacity);
}

button {
    transition: var(--transition-secs);
}

.add-task-btn {
    border-radius: 50%;
    background-color: black;
    opacity: var(--title-opacity);
    color: white;
    font-weight: bold;
    font-size: 15px;
    margin-right: 27%;
    
}

.add-task-btn:hover {
    opacity: var(--subtitle-opacity);
}

.add-task-act {
    margin-right: 5px;
    width: 50px;
    color: white;
    background-color: black;
    opacity: var(--title-opacity);
    transition: var(--transition-secs);
    
}

.add-task-act:hover {
    background-color: var(--subtitle-opacity);
    color: black;
}